html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.hide-overflow {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
